@using PatronesDiseño.Models.Data
@model IEnumerable<Medico>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        @foreach (var medico in Model)
        {
            <p>@medico.Nombre</p>
        } 
    </div>
</div>
