@using DesignPatternAsp.Models.ViewModels
@model IEnumerable<EspecialidadViewModel>



<div class="row">
    <div class="col-12 ">
        <a class="btn btn-primary" href="~/Medico/AddMedico">Nuevo Medico ( tambien añade especialidad) </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th>Nombre</th>
            </tr>
            @foreach (var especialidad in Model)
            {
                <tr>
                    <td>@especialidad.Nombre</td>
                </tr>
            }
        </table>
    </div>
</div>
